body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 900px;
  
}

.heading{
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

/* .tabDiv{
  display: flex;
  justify-content: space-between;
} */

#inp{
  width: 80%;
  height: 20px;
  border-radius: 5px;
}

.btn{
  padding: 3px;
  background-color: blue;
  color: aliceblue;
  margin-left: 5px;
  border-radius: 5px;

}

.textDecorationRed{
  text-decoration: line-through;
}
.textDecorationBlue{
text-decoration: none;
}

.todoDiv{
  display: flex;
}

.inp{
  margin-top: 5px;
}

.todoItem{
  font-size: large;
}

.todoDelete{
  margin-left: auto;
  margin-top: 2px;
}